<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>welcome to <i class="fas fa-regular fa-lightbulb"></i><strong>Quis_creator</strong>  !!</h1>
        <p><i class="fas fa-regular fa-lightbulb"></i><strong>Quis_creatorでは</strong></p>
        <p>さまざまなクイズを通じて知識を深め、回答時間を測定しながら学びを楽しむことができます。</p>
        <p>自分だけのクイズを作成したり、他のユーザーのクイズに挑戦したりしながら、
          知識をシェアし、成長を実感しましょう！</p>
        <p>クイズに取り組むたびに、回答時間が記録されるので、自分の成長を見守ることができます。</p>
      </div>
    </div>
  </div>
</main>