<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fas fa-regular fa-lightbulb"></i><strong>Quiz_creator</strong>  !!</h1>
    
      <p><i class="fas fa-regular fa-lightbulb"></i><strong>Quiz_creatorでは</strong></p>
      <p>さまざまなクイズを通じて知識を深め、回答時間を測定しながら学びを楽しむことができます。</p>
      <p>自分だけのクイズを作成したり、他のユーザーのクイズに挑戦したりしながら、
        知識をシェアし、成長を実感しましょう！</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in", new_user_session_path ,class:"btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to "Sign up", new_user_registration_path ,class:"btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
